<!-- Data Attr Example ==> DAE -->
<script src="https://cdn.staticaly.com/gl/diawean/placeholdpl-js/raw/master/lib/PlaceHoldPL.js"></script>
<placehold-img data-width="240" data-height="180"></placehold-img>